/* navbar */
.navbar a.navbar-brand {
    color: white;
}
.navbar-inverse {
    background-color: #3B5998;
    border-color: #E7E7E7;
}
.btn-msg {
    background-color: #0084ff;
    color: white;
}
.row.center {
    text-align: center;
}
#il {
    display: inline-block;
}
#name {
    color: #3B5998;
    font-size: 17px;
    vertical-align: bottom;
    padding-left:1em
}
#time {
    color:     black;
    font-size: 15px;
    vertical-align: bottom;
    padding-left:1em
}
ul {
    list-style-position: inside;
    padding-left:0;
}
.jumbotron {
    background-image: url("https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/12814573_10205725033835488_1003522214103417930_n.jpg?oh=77b7143e2de670df38f7a9189dffd6f2&oe=593D2AE5");
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
/* image formatting */
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: left;
}